#root{
    position: relative;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /* overflow: scroll; */
  background: #0E1023;
  //   background: url('../assets//images/Background-5.jpg') no-repeat left center fixed;
  // background-size: cover;
  }