@import 'utils';

button {
  z-index: 100;
}

section {
  position: relative;
  display: flex;
  flex-direction: column;
  // min-height: calc(100vh - 70px);
  margin: auto;
  // margin-bottom: 50px;
  max-width: 1600px;
  width: 100%;
  // scroll-margin-top: 70px;
  // margin: 0 50px;
}

.view {
  margin: 0 100px;
  flex: 1;
}

.big-card-container {}

.all-other-projects {
  // margin: 0 50px;
  margin-top: 50px;
}


.section-wrapper {
  position: fixed;
  top: 70px;
  left: 0;
  right: 0;
  margin: auto;
  // padding: 0 50px;
  // overflow: hidden;
  display: flex;
  flex-direction: column;
  // transition: all 1s;
  flex: 1;
}

.scroll {
  width: 100%;
  // position: absolute;
  // top: 0;
  // left: 0;
  // height: 200vh;
  // overflow: auto;
}


// Shared classes -------------------------------------------------------------------------------------------
.flex {
  display: flex;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.flex-wrap {
  display: flex;
  flex-wrap: wrap;
}

.flex-span {
  flex: 1;
}

.card-item-size {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: calc(100% - 50px);
  // min-width: 20rem;
  margin: auto;
}

.j-center {
  justify-content: center;
}

.a-center {
  align-items: center;
}

.no-style {
  list-style: none;
  text-decoration: none;
  color: inherit;
}

.list-margin-right {
  li {
    margin-right: 10px;
  }
}

.no-margin {
  margin: 0;
}

.margin-tb-50 {
  margin: 50px auto;
}

.margin-auto {
  margin: auto;
}

.no-padding {
  padding: 0;
}

.text-align-left {
  text-align: left;
  justify-content: left;
  align-items: flex-start;
}

.max-width-1600 {
  max-width: 1600px;
}

.auora-background {
  // box-shadow: inset -2px -2px 10px 1px rgba(100, 116, 122, .8), inset 0px 0px 10px 1px rgba(0, 0, 0, .5);
  // backdrop-filter: blur(10px) drop-shadow(0px 0px 4px rgba(0, 0, 0, 0.4));
  border: 1px solid rgb(255, 255, 255);
  box-shadow: 0 0 5px 1px rgb(255, 255, 255), inset 0 0 5px 1px rgb(255, 255, 255);
  // &::after {
  //   content: "";
  //   position: absolute;
  //   z-index: -1;
  //   top: 0;
  //   left: 0;
  //   right: 0;
  //   bottom: 0;
  //   padding: 2px;
  //   border-radius: 20px;
  //   background: linear-gradient(to bottom right, #a12cb686, #77cccc86);
  //   -webkit-mask:
  //     linear-gradient(#fff 0 0) content-box,
  //     linear-gradient(#fff 0 0);
  //   -webkit-mask-composite: destination-out;
  //   mask-composite: exclude;
  // }

}

.glass-background {

  // background: rgba( 255, 255, 255, 0.05 );
  background: rgba(31, 38, 135, 0.1);
  box-shadow: 0 0px 10px 0 rgba(31, 38, 135, 0.2);
  backdrop-filter: blur(7.0px);
  border-radius: 10px;
  border: 1px solid rgba(31, 38, 135, 0.37);
}

.font-400 {
  font-weight: 400;
}

i {
  font-size: 20px;
  margin: 20px 0;
}

.clickable {
  cursor: pointer;
}

// Section settings -----------------------------------------------------------------------------------
.section-title {


  font-size: 26px;
  letter-spacing: 5px;
  margin: 50px !important;
  // margin: 0 auto 0px 10px;
  padding: 10px 20px;
  width: fit-content;
  border-radius: 50px;
  // border-radius: 26% 74% 78% 22% / 66% 55% 45% 34%;


  // background: rgba(31, 38, 135, 0.3);
  // box-shadow: 0 0px 10px 0 rgba(31, 38, 135, 1);
  // backdrop-filter: blur(7.0px);
  // border: 1px solid rgba(31, 38, 135, 1);

  // background: rgba(5, 150, 255, .3);
  // box-shadow: 0 0px 5px 0 rgba(5, 150, 255, 1);
  backdrop-filter: blur(7.0px);
  border: 2px solid #0596FF;
}

// Featured Card -------------------------------------------------------------------------------------------

.sub-title {
  position: relative;

  h3 {
    margin: 0;
    cursor: default;
  }

  &::after {
    content: "";
    position: absolute;

    width: 20rem;
    height: 2px;

    bottom: 0;


    // background: rgb(255, 255, 255);
    // box-shadow: 0 0px 10px 5px rgba(31, 38, 135, .8);
    // backdrop-filter: blur(7.0px);
    // border: 1px solid rgba(31, 38, 135, 1);
    background: rgb(255, 255, 255);
    box-shadow: 0 0px 5px 1px rgba(5, 150, 255, .8);
    backdrop-filter: blur(7.0px);
    border: 1px solid rgba(5, 150, 255, 1);
  }

}

.f-card-wrapper {
  position: relative;
  margin: 20px 10px 10px 10px;
  padding: 0 50px;

  border-radius: 20px;

  max-width: 100%;

  overflow: hidden;

  .f-card-row-2 {
    position: relative;
  }

  .f-card-row-3 {
    h4 {
      border-bottom: 2px solid white;
      border-radius: 50%;
    }

    li {
      margin: 0 10px 10px 10px;
    }
  }

  .f-card-description {
    margin-bottom: 20px;
    margin-right: 20px;
    white-space: pre-wrap;
    max-width: 600px;
    min-width: 100px;
  }

  .f-card-image {
    max-height: 400px;

    svg {
      max-height: inherit;
      max-width: 100%;
    }
  }

}

.project-title {
  color: rgb(0, 162, 255);
  text-shadow: 2px 2px rgba(0, 162, 255, 0.274);
}

.links {
  li {
    margin: 0 10px;
  }
}

// Big Card -------------------------------------------------------------------------------------------
.project-b-card {
  position: relative;
  // min-height: 80vh;
  max-height: auto;
  max-width: 1600px;
  margin: 50px auto;
  border-radius: 40% 100% 35% 200px;
  transition: 1s ease;
}


.b-card-title {
  width: 100%;

  h2 {
    color: rgb(0, 162, 255);

    text-shadow: 2px 2px rgba(0, 162, 255, 0.274);
  }
}

.featured {
  margin: auto 0 auto auto;
}

.b-card-info {
  width: 600px;
  max-width: 100%;
  // flex: 1;
  margin-left: 50px;
  margin-right: 50px;

  * {
    transition: var(--cardInfoTrans);
  }

  .links {
    li {
      margin: 10px;

    }

    i {
      font-size: 24px;
    }
  }
}

.b-card-description {
  // min-height: 150px;
  height: var(--bcdHeight);
  overflow: hidden;
  line-height: 40px;
}

.view-more-less {
  display: none;

  span {
    margin-left: 10px;
  }
}

.chev-up {
  transform: rotate(-180deg);
}

.tech-used {
  // max-width: 100%;
  position: relative;
  // width: inherit;
  // margin: 0 auto 20px 50px;
  margin: 0 50px 20px 50px;
  overflow: auto;

  h4 {
    border-bottom: 2px solid white;
    border-radius: 50%;
    // padding-bottom: 10px;
  }

  ul {
    li {
      border-radius: 10px;
      padding: 2px 10px;
    }
  }
}

.tech-title {
  position: sticky;
  left: 0;
  top: 0;
}

.b-card-image {
  margin-top: 20px;

  svg {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.logo-brand {
  transform-origin: center;

  svg {
    width: 50px;
    height: 50px;
    background: transparent;
  }

  .logo-text {
    transform-origin: center;
    animation: rotate 4s ease infinite;
  }

  #react-brand {
    transform-origin: center;
    animation: rotate 2s ease-in-out infinite alternate-reverse;
  }

  #leaf-1 {
    transform-origin: bottom center;
    animation: rotate-leaf 2s ease-in-out infinite alternate-reverse;
  }

  path {
    stroke-dasharray: 50;
    stroke-dashoffset: 100;
    animation: logo-circle-stroke 3s infinite alternate;

  }

}



@keyframes logo-circle-stroke {
  to {
    stroke-dashoffset: 0;
  }

}

@keyframes rotate-leaf {
  to {
    transform: rotate(20deg) translate(-20px, 5px);
  }
}

@keyframes rotate {
  to {
    transform: rotate(360deg);
  }
}

// Small card -----------------------------------------------------------------------------
.all-other-projects h3 {
  display: flex;
  margin: auto;
}

.small-card-container {
  display: flex;
  overflow: auto;
  max-width: 100%;
  margin: auto;
  transition: .3s ease;
  // cursor: grab;

  // scroll-snap-type: mandatory;
  scroll-snap-type: mandatory;
  scroll-snap-points-x: repeat(300px);
  scroll-snap-type: x mandatory;

  &::-webkit-scrollbar {
    // display: none;
  }
}

.small-card-wrapper {
  // display: inline-flex;
  display: flex;
  flex: 1 0 100%;
  max-width: 21rem;
  scroll-snap-align: start;
}

.small-card {
  position: relative;
  max-width: 100%;
  border-radius: 10px;
  overflow: hidden;
  margin: 15px;
  padding: 10px 10px 0 10px;

  border-radius: 20px;
  z-index: 2;

  h2 {
    margin: 0;
  }

  &::after {
    content: "";
    display: inline-block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
  }

  .tech-used {
    // max-width: calc(100% + 20px) !important;
    margin: 0 -10px;
    padding-bottom: 10px;
    // background: rgba(255, 255, 255, 0.1);

    pointer-events: none;

    &::-webkit-scrollbar {
      display: none;
    }

    h4 {
      margin: 20px 10px;
    }

    .list-1,
    .list-2 {
      display: flex;
      flex: 1 0 100%;
      justify-content: space-around;
      padding: 0;
      animation: auto-scroll 15s infinite linear;

      li {
        display: inline-flex;
        border: 1px solid white;
        color: rgba(255, 255, 255, 0.815);
        border-radius: 50px;
        margin: 0 5px;
      }
    }
  }

  i {
    font-size: 20px;
    margin: 0;
  }

  li {
    white-space: nowrap;
    margin: 0 0 0 20px;
    // margin: 10px 0;
  }
}

.small-card-details {
  position: relative;
  overflow: hidden;


  &:hover {
    .small-card-description {
      bottom: 0 !important;

    }

    .small-card-image {
      opacity: .1;
    }

    &::after {
      opacity: 0;
    }
  }

  &::after {
    content: "Hover to view details";
    display: block;
    position: absolute;
    width: 100%;
    text-align: center;
    color: rgba(255, 255, 255, 0.623);
    font-weight: bolder;
    font-size: 14px;
    bottom: 0px;
    // transition: .3s ease-in-out;
    z-index: -1;
    animation: on-hover 1s ease infinite alternate-reverse;
  }

  img {
    width: 100%;
  }
}

.small-card-image {
  transition: .3s;
}

.small-card-description {
  position: absolute;
  display: flex;
  text-align: center;
  align-items: center;
  height: 100%;
  bottom: -110%;
  left: 0;
  line-height: 30px;
  font-weight: 500;
  color: white;
  transition: .3s ease-in-out;
  // background: white;
  // overflow: scroll;
}

.dot {
  width: 10px;
  height: 10px;
  margin: 5px;
  border-radius: 50%;
  // background: white;

  // background: rgba(255, 255, 255, 0.3);
  box-shadow: 0 0px 1px 0 rgba(255, 255, 255, 0.541);
  backdrop-filter: blur(7.0px);
  border: 1px solid rgb(90, 85, 85);
}

.dot-active {
  background: rgba(31, 38, 135, 0.3);
  box-shadow: 0 0px 10px 0 rgb(21, 29, 141),
    0 0px 10px 0 rgba(31, 38, 135, 1);
  backdrop-filter: blur(7.0px);
  border: 1px solid rgb(255, 255, 255);
}

@keyframes on-hover {
  from {
    transform: translateY(0);
  }

  to {
    transform: translateY(-5px) scale(1.2);
  }
}

@keyframes auto-scroll {
  to {
    transform: translateX(-100%);
  }
}

// About Me -------------------------------------------------------------------------------------------
.about-me-wrapper {

  display: flex;
  flex-direction: column;

  .achivements {
    // margin: 50px auto 0 auto;
    margin-top: 50px;

    img {
      width: 100%;
    }

    ul {
      overflow: auto;
      max-width: 100%;
      margin: auto;
      // margin-left: auto;
      // margin-right: auto;
      // overflow: auto;

      // min-width: fit-content;
      // max-width: 100%;
      // min-width: 100%;
      margin-top: 20px;
      // justify-content: space-evenly;

      li {
        // margin: 10px;
        width: 12rem;
        min-width: 150px;
        // min-width: 5rem;
        padding: 10px;
        overflow: hidden;
      }
    }
  }

  .get-in-touch-btn {
    // cursor: pointer;
    // text-align: center;
    // font-weight: bolder;
    // width: fit-content;
    // height: fit-content;
    // padding: 10px 20px;
    // border-radius: 50px;
    // margin: auto;

    // background: rgba(31, 38, 135, 0.1);
    // box-shadow: 0 0px 10px 0 rgba(31, 38, 135, .8);
    // backdrop-filter: blur(7.0px);
    // border: 1px solid rgba(31, 38, 135, 1);
  }
}

.about-me {
  flex-wrap: wrap;
  // margin: auto;
  justify-content: space-evenly;
}

.intro {
  position: relative;
  max-width: 600px;
  min-width: 100px;
}

.my-quote {
  float: right;

  i {
    font-size: 14px;
  }

}

.my-photo {
  position: relative;
  padding: 10px;
  border-radius: 50%;
  width: 20rem;

  img {
    width: inherit;
    max-width: 100%;
    border-radius: 50%;
  }
}

// Home -------------------------------------------------------------------------------------------
.home {
  height: calc(100vh - 70px);
  text-align: center;

  p {
    margin: 20px 0;
    letter-spacing: 2px;

    &:nth-child(3) {
      font-size: 38px;
      font-weight: bold;
      color: rgb(156, 156, 156);
    }
  }

  .view-my-project {
    cursor: pointer;
    text-align: center;
    font-weight: bolder;
    width: fit-content;
    height: fit-content;
    margin: 20px auto 0 auto;
    padding: 10px 20px;
    border-radius: 50px;

    color: #0596FF;


    background: rgba(31, 38, 135, 0.1);
    // box-shadow: 0 0px 5px 0 rgba(5, 150, 255, .8);
    backdrop-filter: blur(7.0px);
    border: 2px solid #0596FF;
  }
}

// About Me -------------------------------------------------------------------------------------------
.social-media {
  // position: fixed;
  bottom: 0;
  left: 0;
  height: 300px;
  // margin-top: 100px;
  // top: 50px;
  // left: 50px;
  display: flex;

  i {
    font-size: 30px;
    // margin-bottom: 10px;
    margin: 0px;
  }
  a{
    color: white;
    margin: 20px;
  }
}

.contact {
  min-height: fit-content !important;
  margin-top: 50px;
  margin-bottom: 50px;
  // margin-bottom: 150px;
  // margin: 0 10px;
}

.get-in-touch {
  margin: 0 10px;

  p {
    text-align: center;
    margin: 15px 0;

    &:nth-child(1) {
      font-size: 16px;
    }

    &:nth-child(2) {
      font-size: 48px;
      letter-spacing: 3px;
    }

    &:nth-child(3) {
      font-size: 16px;
      max-width: 40rem;
      margin: auto;
    }
  }



}

.say-hello {
  cursor: pointer;
  text-align: center;
  font-weight: bolder;
  width: fit-content;
  height: fit-content;
  margin: 20px auto 0 auto;
  padding: 10px 20px;
  border-radius: 50px;

  a {
    color: #0596FF;
    text-decoration: none;
  }

  background: rgba(31, 38, 135, 0.1);
  // box-shadow: 0 0px 10px 0 #0597ffb8;
  backdrop-filter: blur(7.0px);
  // border: 1px solid rgba(31, 38, 135, 1);
  border: 1px solid #0596FF;
}

.line {
  max-width: 50rem;
  height: 2px;
  background: white;
  margin: auto;

  background: rgb(255, 255, 255);
  box-shadow: 0 0px 10px 5px rgba(31, 38, 135, .8);
  backdrop-filter: blur(7.0px);
  border: 1px solid rgba(31, 38, 135, 1);
}

// Footer -------------------------------------------------------------------------------------------
footer {
  text-align: center;
  transform: translate(0, -20px);
}

// Text color -------------------------------------------------------------------------------------------
.mern-txt {
  position: relative;

  a {
    text-decoration: none;
  }

  span {
    cursor: pointer;
    font-size: 18px;
    font-weight: bold;


    &::after {
      content: "";
      display: block;
      position: absolute;
      left: 0;
      bottom: 0;
      width: 0;
      opacity: 0;
      height: 2px;

      transition: .5s ease;
    }
  }

  span {
    &:nth-child(1) {

      a {
        color: #1BDB68;
      }

      &:hover {
        &::after {
          opacity: 1;
          width: 100%;
          background: #1BDB68;
        }
      }
    }

    &:nth-child(2) {
      a {
        color: #FF6C00;
      }

      &:hover {
        &::after {
          opacity: 1;
          width: 100%;
          background: #FF6C00;
        }
      }
    }

    &:nth-child(3) {

      a {
        color: #219DF6;
      }

      &:hover {
        &::after {
          opacity: 1;
          width: 100%;
          background: #219DF6;
        }
      }
    }

    &:nth-child(4) {

      a {
        color: #00FF66;
      }

      &:hover {
        &::after {
          opacity: 1;
          width: 100%;
          background: #00FF66;
        }
      }

    }
  }
}

.my-name {
  font-weight: bold;
  letter-spacing: 3px;
}

// Media queries -------------------------------------------------------------------------------------------
@media only screen and (min-width : 600px) {
  .max-600 {
    display: none;
  }
}

@media only screen and (max-width : 400px) {

  .list-1,
  .list-2 {
    min-width: fit-content !important;
  }

}

@media only screen and (max-width: 600px) {

  .section-title{
    margin: 50px 10px !important;
  }
  .view {
    margin: 0 20px;
  }

  .about-me {
    margin: 0 10px;

    .intro {
      text-align: center;
    }

    .my-photo {
      margin-top: 20px;
    }

    .my-quote {
      float: none;

      i {
        font-size: 15px;
      }

    }
  }

  .section-title,
  .big-card-container {
    // margin: 0 auto 30px 10px;
  }

  .height-shrink {
    min-height: 0px !important;
    height: 0px !important;
  }

  .b-card-image {
    margin-top: 0;

    svg {
      height: 250px;
    }
  }

  .b-card-info {
    margin: 0;
    padding: 20px;
  }


  .view-more-less {
    display: inline-flex;
    // margin: 20px 0;
  }

  .tech-used {
    margin: 0 20px 20px 20px;
  }

  .small-card-container {
    margin: 0 0;
  }

  .small-card-wrapper {
    max-width: 100%;
  }
}

@media only screen and (max-width: 800px) {

  .f-card-row-2 {
    overflow: hidden;

    // &:hover .f-card-description {
    //   bottom: 0;
    // }

    // &:hover .f-card-image {
    //   opacity: .1;
    // }
    &:hover {
      .f-card-description {
        bottom: 0;
      }

      .f-card-image {
        opacity: .1;
      }

      &::after {
        opacity: 0;
      }
    }

    &::after {
      content: "Hover to view details";
      display: block;
      position: absolute;
      width: 100%;
      text-align: center;
      color: rgba(255, 255, 255, 0.623);
      font-weight: bolder;
      font-size: 14px;
      bottom: 0px;
      z-index: -1;
      animation: on-hover 1s ease infinite alternate-reverse;
    }
  }

  .f-card-image {
    margin-top: 0;
    transition: .3s ease-in-out;

    svg {
      height: 250px;
    }
  }

  .f-card-description {
    position: absolute;
    display: flex;
    margin-right: 0 !important;
    margin-bottom: 0 !important;
    text-align: center;
    width: 100%;
    height: 250px;
    overflow: auto;
    overflow-x: hidden;
    max-height: 300px;
    left: 50%;
    bottom: -100%;
    transform: translateX(-50%);
    transition: .3s ease-in-out;
    z-index: 10;
  }

  .f-card-wrapper {
    padding: 10px;
  }

}

@media only screen and (max-width: 1320px) {

  .project-b-card {
    border-radius: 20px;
  }


  .b-card-info {
    width: 100%;
  }
}