#my-name path:nth-child(1) {
  stroke-dasharray: var(--nLength1);
  stroke-dashoffset: var(--nLength1);
}

#my-name path:nth-child(2) {
  stroke-dasharray: var(--nLength2);
  stroke-dashoffset: var(--nLength2);
}

#my-name path:nth-child(3) {
  stroke-dasharray: var(--nLength3);
  stroke-dashoffset: var(--nLength3);
}

#my-name path:nth-child(4) {
  stroke-dasharray: var(--nLength4);
  stroke-dashoffset: var(--nLength4);
}

#my-name path:nth-child(5) {
  stroke-dasharray: var(--nLength5);
  stroke-dashoffset: var(--nLength5);
}

#my-name path:nth-child(6) {
  stroke-dasharray: var(--nLength6);
  stroke-dashoffset: var(--nLength6);
}

#my-name path:nth-child(7) {
  stroke-dasharray: var(--nLength7);
  stroke-dashoffset: var(--nLength7);
}

#my-name path:nth-child(8) {
  stroke-dasharray: var(--nLength8);
  stroke-dashoffset: var(--nLength8);
}

#my-name path:nth-child(9) {
  stroke-dasharray: var(--nLength9);
  stroke-dashoffset: var(--nLength9);
}

#my-name {
  -webkit-transition: .3s ease;
  transition: .3s ease;
  -webkit-animation: fill-text 0.5s ease-in-out forwards 4s;
          animation: fill-text 0.5s ease-in-out forwards 4s;
}

@-webkit-keyframes name-anim {
  to {
    stroke-dashoffset: 0;
  }
}

@keyframes name-anim {
  to {
    stroke-dashoffset: 0;
  }
}

@-webkit-keyframes fill-text {
  from {
    fill: transparent;
  }
  to {
    stroke-dasharray: 0;
    fill: white;
    stroke-linejoin: round;
  }
}

@keyframes fill-text {
  from {
    fill: transparent;
  }
  to {
    stroke-dasharray: 0;
    fill: white;
    stroke-linejoin: round;
  }
}

button {
  z-index: 100;
}

section {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: auto;
  max-width: 1600px;
  width: 100%;
}

.view {
  margin: 0 100px;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.all-other-projects {
  margin-top: 50px;
}

.section-wrapper {
  position: fixed;
  top: 70px;
  left: 0;
  right: 0;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.scroll {
  width: 100%;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.flex-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.flex-col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.flex-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.flex-span {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.card-item-size {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: calc(100% - 50px);
  margin: auto;
}

.j-center {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.a-center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.no-style {
  list-style: none;
  text-decoration: none;
  color: inherit;
}

.list-margin-right li {
  margin-right: 10px;
}

.no-margin {
  margin: 0;
}

.margin-tb-50 {
  margin: 50px auto;
}

.margin-auto {
  margin: auto;
}

.no-padding {
  padding: 0;
}

.text-align-left {
  text-align: left;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.max-width-1600 {
  max-width: 1600px;
}

.auora-background {
  border: 1px solid white;
  -webkit-box-shadow: 0 0 5px 1px white, inset 0 0 5px 1px white;
          box-shadow: 0 0 5px 1px white, inset 0 0 5px 1px white;
}

.glass-background {
  background: rgba(31, 38, 135, 0.1);
  -webkit-box-shadow: 0 0px 10px 0 rgba(31, 38, 135, 0.2);
          box-shadow: 0 0px 10px 0 rgba(31, 38, 135, 0.2);
  -webkit-backdrop-filter: blur(7px);
          backdrop-filter: blur(7px);
  border-radius: 10px;
  border: 1px solid rgba(31, 38, 135, 0.37);
}

.font-400 {
  font-weight: 400;
}

i {
  font-size: 20px;
  margin: 20px 0;
}

.clickable {
  cursor: pointer;
}

.section-title {
  font-size: 26px;
  letter-spacing: 5px;
  margin: 50px !important;
  padding: 10px 20px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  border-radius: 50px;
  -webkit-backdrop-filter: blur(7px);
          backdrop-filter: blur(7px);
  border: 2px solid #0596FF;
}

.sub-title {
  position: relative;
}

.sub-title h3 {
  margin: 0;
  cursor: default;
}

.sub-title::after {
  content: "";
  position: absolute;
  width: 20rem;
  height: 2px;
  bottom: 0;
  background: white;
  -webkit-box-shadow: 0 0px 5px 1px rgba(5, 150, 255, 0.8);
          box-shadow: 0 0px 5px 1px rgba(5, 150, 255, 0.8);
  -webkit-backdrop-filter: blur(7px);
          backdrop-filter: blur(7px);
  border: 1px solid #0596ff;
}

.f-card-wrapper {
  position: relative;
  margin: 20px 10px 10px 10px;
  padding: 0 50px;
  border-radius: 20px;
  max-width: 100%;
  overflow: hidden;
}

.f-card-wrapper .f-card-row-2 {
  position: relative;
}

.f-card-wrapper .f-card-row-3 h4 {
  border-bottom: 2px solid white;
  border-radius: 50%;
}

.f-card-wrapper .f-card-row-3 li {
  margin: 0 10px 10px 10px;
}

.f-card-wrapper .f-card-description {
  margin-bottom: 20px;
  margin-right: 20px;
  white-space: pre-wrap;
  max-width: 600px;
  min-width: 100px;
}

.f-card-wrapper .f-card-image {
  max-height: 400px;
}

.f-card-wrapper .f-card-image svg {
  max-height: inherit;
  max-width: 100%;
}

.project-title {
  color: #00a2ff;
  text-shadow: 2px 2px rgba(0, 162, 255, 0.274);
}

.links li {
  margin: 0 10px;
}

.project-b-card {
  position: relative;
  max-height: auto;
  max-width: 1600px;
  margin: 50px auto;
  border-radius: 40% 100% 35% 200px;
  -webkit-transition: 1s ease;
  transition: 1s ease;
}

.b-card-title {
  width: 100%;
}

.b-card-title h2 {
  color: #00a2ff;
  text-shadow: 2px 2px rgba(0, 162, 255, 0.274);
}

.featured {
  margin: auto 0 auto auto;
}

.b-card-info {
  width: 600px;
  max-width: 100%;
  margin-left: 50px;
  margin-right: 50px;
}

.b-card-info * {
  -webkit-transition: var(--cardInfoTrans);
  transition: var(--cardInfoTrans);
}

.b-card-info .links li {
  margin: 10px;
}

.b-card-info .links i {
  font-size: 24px;
}

.b-card-description {
  height: var(--bcdHeight);
  overflow: hidden;
  line-height: 40px;
}

.view-more-less {
  display: none;
}

.view-more-less span {
  margin-left: 10px;
}

.chev-up {
  -webkit-transform: rotate(-180deg);
          transform: rotate(-180deg);
}

.tech-used {
  position: relative;
  margin: 0 50px 20px 50px;
  overflow: auto;
}

.tech-used h4 {
  border-bottom: 2px solid white;
  border-radius: 50%;
}

.tech-used ul li {
  border-radius: 10px;
  padding: 2px 10px;
}

.tech-title {
  position: -webkit-sticky;
  position: sticky;
  left: 0;
  top: 0;
}

.b-card-image {
  margin-top: 20px;
}

.b-card-image svg {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.logo-brand {
  -webkit-transform-origin: center;
          transform-origin: center;
}

.logo-brand svg {
  width: 50px;
  height: 50px;
  background: transparent;
}

.logo-brand .logo-text {
  -webkit-transform-origin: center;
          transform-origin: center;
  -webkit-animation: rotate 4s ease infinite;
          animation: rotate 4s ease infinite;
}

.logo-brand #react-brand {
  -webkit-transform-origin: center;
          transform-origin: center;
  animation: rotate 2s ease-in-out infinite alternate-reverse;
}

.logo-brand #leaf-1 {
  -webkit-transform-origin: bottom center;
          transform-origin: bottom center;
  animation: rotate-leaf 2s ease-in-out infinite alternate-reverse;
}

.logo-brand path {
  stroke-dasharray: 50;
  stroke-dashoffset: 100;
  -webkit-animation: logo-circle-stroke 3s infinite alternate;
          animation: logo-circle-stroke 3s infinite alternate;
}

@-webkit-keyframes logo-circle-stroke {
  to {
    stroke-dashoffset: 0;
  }
}

@keyframes logo-circle-stroke {
  to {
    stroke-dashoffset: 0;
  }
}

@-webkit-keyframes rotate-leaf {
  to {
    -webkit-transform: rotate(20deg) translate(-20px, 5px);
            transform: rotate(20deg) translate(-20px, 5px);
  }
}

@keyframes rotate-leaf {
  to {
    -webkit-transform: rotate(20deg) translate(-20px, 5px);
            transform: rotate(20deg) translate(-20px, 5px);
  }
}

@-webkit-keyframes rotate {
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes rotate {
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

.all-other-projects h3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: auto;
}

.small-card-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: auto;
  max-width: 100%;
  margin: auto;
  -webkit-transition: .3s ease;
  transition: .3s ease;
  -ms-scroll-snap-type: mandatory;
      scroll-snap-type: mandatory;
  -ms-scroll-snap-points-x: repeat(300px);
      scroll-snap-points-x: repeat(300px);
  -ms-scroll-snap-type: x mandatory;
      scroll-snap-type: x mandatory;
}

.small-card-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 100%;
          flex: 1 0 100%;
  max-width: 21rem;
  scroll-snap-align: start;
}

.small-card {
  position: relative;
  max-width: 100%;
  border-radius: 10px;
  overflow: hidden;
  margin: 15px;
  padding: 10px 10px 0 10px;
  border-radius: 20px;
  z-index: 2;
}

.small-card h2 {
  margin: 0;
}

.small-card::after {
  content: "";
  display: inline-block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
}

.small-card .tech-used {
  margin: 0 -10px;
  padding-bottom: 10px;
  pointer-events: none;
}

.small-card .tech-used::-webkit-scrollbar {
  display: none;
}

.small-card .tech-used h4 {
  margin: 20px 10px;
}

.small-card .tech-used .list-1,
.small-card .tech-used .list-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 100%;
          flex: 1 0 100%;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 0;
  -webkit-animation: auto-scroll 15s infinite linear;
          animation: auto-scroll 15s infinite linear;
}

.small-card .tech-used .list-1 li,
.small-card .tech-used .list-2 li {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  border: 1px solid white;
  color: rgba(255, 255, 255, 0.815);
  border-radius: 50px;
  margin: 0 5px;
}

.small-card i {
  font-size: 20px;
  margin: 0;
}

.small-card li {
  white-space: nowrap;
  margin: 0 0 0 20px;
}

.small-card-details {
  position: relative;
  overflow: hidden;
}

.small-card-details:hover .small-card-description {
  bottom: 0 !important;
}

.small-card-details:hover .small-card-image {
  opacity: .1;
}

.small-card-details:hover::after {
  opacity: 0;
}

.small-card-details::after {
  content: "Hover to view details";
  display: block;
  position: absolute;
  width: 100%;
  text-align: center;
  color: rgba(255, 255, 255, 0.623);
  font-weight: bolder;
  font-size: 14px;
  bottom: 0px;
  z-index: -1;
  animation: on-hover 1s ease infinite alternate-reverse;
}

.small-card-details img {
  width: 100%;
}

.small-card-image {
  -webkit-transition: .3s;
  transition: .3s;
}

.small-card-description {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  bottom: -110%;
  left: 0;
  line-height: 30px;
  font-weight: 500;
  color: white;
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}

.dot {
  width: 10px;
  height: 10px;
  margin: 5px;
  border-radius: 50%;
  -webkit-box-shadow: 0 0px 1px 0 rgba(255, 255, 255, 0.541);
          box-shadow: 0 0px 1px 0 rgba(255, 255, 255, 0.541);
  -webkit-backdrop-filter: blur(7px);
          backdrop-filter: blur(7px);
  border: 1px solid #5a5555;
}

.dot-active {
  background: rgba(31, 38, 135, 0.3);
  -webkit-box-shadow: 0 0px 10px 0 #151d8d, 0 0px 10px 0 #1f2687;
          box-shadow: 0 0px 10px 0 #151d8d, 0 0px 10px 0 #1f2687;
  -webkit-backdrop-filter: blur(7px);
          backdrop-filter: blur(7px);
  border: 1px solid white;
}

@-webkit-keyframes on-hover {
  from {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  to {
    -webkit-transform: translateY(-5px) scale(1.2);
            transform: translateY(-5px) scale(1.2);
  }
}

@keyframes on-hover {
  from {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  to {
    -webkit-transform: translateY(-5px) scale(1.2);
            transform: translateY(-5px) scale(1.2);
  }
}

@-webkit-keyframes auto-scroll {
  to {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
}

@keyframes auto-scroll {
  to {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
}

.about-me-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.about-me-wrapper .achivements {
  margin-top: 50px;
}

.about-me-wrapper .achivements img {
  width: 100%;
}

.about-me-wrapper .achivements ul {
  overflow: auto;
  max-width: 100%;
  margin: auto;
  margin-top: 20px;
}

.about-me-wrapper .achivements ul li {
  width: 12rem;
  min-width: 150px;
  padding: 10px;
  overflow: hidden;
}

.about-me {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.intro {
  position: relative;
  max-width: 600px;
  min-width: 100px;
}

.my-quote {
  float: right;
}

.my-quote i {
  font-size: 14px;
}

.my-photo {
  position: relative;
  padding: 10px;
  border-radius: 50%;
  width: 20rem;
}

.my-photo img {
  width: inherit;
  max-width: 100%;
  border-radius: 50%;
}

.home {
  height: calc(100vh - 70px);
  text-align: center;
}

.home p {
  margin: 20px 0;
  letter-spacing: 2px;
}

.home p:nth-child(3) {
  font-size: 38px;
  font-weight: bold;
  color: #9c9c9c;
}

.home .view-my-project {
  cursor: pointer;
  text-align: center;
  font-weight: bolder;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  margin: 20px auto 0 auto;
  padding: 10px 20px;
  border-radius: 50px;
  color: #0596FF;
  background: rgba(31, 38, 135, 0.1);
  -webkit-backdrop-filter: blur(7px);
          backdrop-filter: blur(7px);
  border: 2px solid #0596FF;
}

.social-media {
  bottom: 0;
  left: 0;
  height: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.social-media i {
  font-size: 30px;
  margin: 0px;
}

.social-media a {
  color: white;
  margin: 20px;
}

.contact {
  min-height: -webkit-fit-content !important;
  min-height: -moz-fit-content !important;
  min-height: fit-content !important;
  margin-top: 50px;
  margin-bottom: 50px;
}

.get-in-touch {
  margin: 0 10px;
}

.get-in-touch p {
  text-align: center;
  margin: 15px 0;
}

.get-in-touch p:nth-child(1) {
  font-size: 16px;
}

.get-in-touch p:nth-child(2) {
  font-size: 48px;
  letter-spacing: 3px;
}

.get-in-touch p:nth-child(3) {
  font-size: 16px;
  max-width: 40rem;
  margin: auto;
}

.say-hello {
  cursor: pointer;
  text-align: center;
  font-weight: bolder;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  margin: 20px auto 0 auto;
  padding: 10px 20px;
  border-radius: 50px;
  background: rgba(31, 38, 135, 0.1);
  -webkit-backdrop-filter: blur(7px);
          backdrop-filter: blur(7px);
  border: 1px solid #0596FF;
}

.say-hello a {
  color: #0596FF;
  text-decoration: none;
}

.line {
  max-width: 50rem;
  height: 2px;
  background: white;
  margin: auto;
  background: white;
  -webkit-box-shadow: 0 0px 10px 5px rgba(31, 38, 135, 0.8);
          box-shadow: 0 0px 10px 5px rgba(31, 38, 135, 0.8);
  -webkit-backdrop-filter: blur(7px);
          backdrop-filter: blur(7px);
  border: 1px solid #1f2687;
}

footer {
  text-align: center;
  -webkit-transform: translate(0, -20px);
          transform: translate(0, -20px);
}

.mern-txt {
  position: relative;
}

.mern-txt a {
  text-decoration: none;
}

.mern-txt span {
  cursor: pointer;
  font-size: 18px;
  font-weight: bold;
}

.mern-txt span::after {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  opacity: 0;
  height: 2px;
  -webkit-transition: .5s ease;
  transition: .5s ease;
}

.mern-txt span:nth-child(1) a {
  color: #1BDB68;
}

.mern-txt span:nth-child(1):hover::after {
  opacity: 1;
  width: 100%;
  background: #1BDB68;
}

.mern-txt span:nth-child(2) a {
  color: #FF6C00;
}

.mern-txt span:nth-child(2):hover::after {
  opacity: 1;
  width: 100%;
  background: #FF6C00;
}

.mern-txt span:nth-child(3) a {
  color: #219DF6;
}

.mern-txt span:nth-child(3):hover::after {
  opacity: 1;
  width: 100%;
  background: #219DF6;
}

.mern-txt span:nth-child(4) a {
  color: #00FF66;
}

.mern-txt span:nth-child(4):hover::after {
  opacity: 1;
  width: 100%;
  background: #00FF66;
}

.my-name {
  font-weight: bold;
  letter-spacing: 3px;
}

@media only screen and (min-width: 600px) {
  .max-600 {
    display: none;
  }
}

@media only screen and (max-width: 400px) {
  .list-1,
  .list-2 {
    min-width: -webkit-fit-content !important;
    min-width: -moz-fit-content !important;
    min-width: fit-content !important;
  }
}

@media only screen and (max-width: 600px) {
  .section-title {
    margin: 50px 10px !important;
  }
  .view {
    margin: 0 20px;
  }
  .about-me {
    margin: 0 10px;
  }
  .about-me .intro {
    text-align: center;
  }
  .about-me .my-photo {
    margin-top: 20px;
  }
  .about-me .my-quote {
    float: none;
  }
  .about-me .my-quote i {
    font-size: 15px;
  }
  .height-shrink {
    min-height: 0px !important;
    height: 0px !important;
  }
  .b-card-image {
    margin-top: 0;
  }
  .b-card-image svg {
    height: 250px;
  }
  .b-card-info {
    margin: 0;
    padding: 20px;
  }
  .view-more-less {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
  }
  .tech-used {
    margin: 0 20px 20px 20px;
  }
  .small-card-container {
    margin: 0 0;
  }
  .small-card-wrapper {
    max-width: 100%;
  }
}

@media only screen and (max-width: 800px) {
  .f-card-row-2 {
    overflow: hidden;
  }
  .f-card-row-2:hover .f-card-description {
    bottom: 0;
  }
  .f-card-row-2:hover .f-card-image {
    opacity: .1;
  }
  .f-card-row-2:hover::after {
    opacity: 0;
  }
  .f-card-row-2::after {
    content: "Hover to view details";
    display: block;
    position: absolute;
    width: 100%;
    text-align: center;
    color: rgba(255, 255, 255, 0.623);
    font-weight: bolder;
    font-size: 14px;
    bottom: 0px;
    z-index: -1;
    animation: on-hover 1s ease infinite alternate-reverse;
  }
  .f-card-image {
    margin-top: 0;
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
  }
  .f-card-image svg {
    height: 250px;
  }
  .f-card-description {
    position: absolute;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-right: 0 !important;
    margin-bottom: 0 !important;
    text-align: center;
    width: 100%;
    height: 250px;
    overflow: auto;
    overflow-x: hidden;
    max-height: 300px;
    left: 50%;
    bottom: -100%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
    z-index: 10;
  }
  .f-card-wrapper {
    padding: 10px;
  }
}

@media only screen and (max-width: 1320px) {
  .project-b-card {
    border-radius: 20px;
  }
  .b-card-info {
    width: 100%;
  }
}
/*# sourceMappingURL=body.css.map */